@font-face {
    font-family: "aeo-pro";
    src: url("fonts/Aeonik/Aeonik_Pro/OTF/AeonikPro-Air.otf") format("opentype");
    font-weight: 100;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: "aeo-pro";
    src: url("fonts/Aeonik/Aeonik_Pro/OTF/AeonikPro-Light.otf") format("opentype");
    font-weight: 200;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: "aeo-pro";
    src: url("fonts/Aeonik/Aeonik_Pro/OTF/AeonikPro-Thin.otf") format("opentype");
    font-weight: 300;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: "aeo-pro";
    src: url("fonts/Aeonik/Aeonik_Pro/OTF/AeonikPro-Regular.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: "aeo-pro";
    src: url("fonts/Aeonik/Aeonik_Pro/OTF/AeonikPro-Medium.otf") format("opentype");
    font-weight: 500;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: "aeo-pro";
    src: url("fonts/Aeonik/Aeonik_Pro/OTF/AeonikPro-Bold.otf") format("opentype");
    font-weight: 600;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: "aeo-pro";
    src: url("fonts/Aeonik/Aeonik_Pro/OTF/AeonikPro-Black.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
    font-display: block;
}