@font-face {
    font-family: "aeo-pro";
    src: url("fonts/Aeonik/Aeonik_Mono/OTF/AeonikMono-Air.otf") format("opentype");
    font-weight: 100;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: "aeo-pro";
    src: url("fonts/Aeonik/Aeonik_Mono/OTF/AeonikMono-Light.otf") format("opentype");
    font-weight: 200;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: "aeo-pro";
    src: url("fonts/Aeonik/Aeonik_Mono/OTF/AeonikMono-Thin.otf") format("opentype");
    font-weight: 300;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: "aeo-pro";
    src: url("fonts/Aeonik/Aeonik_Mono/OTF/AeonikMono-Regular.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: "aeo-pro";
    src: url("fonts/Aeonik/Aeonik_Mono/OTF/AeonikMono-Medium.otf") format("opentype");
    font-weight: 500;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: "aeo-pro";
    src: url("fonts/Aeonik/Aeonik_Mono/OTF/AeonikMono-Bold.otf") format("opentype");
    font-weight: 600;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: "aeo-pro";
    src: url("fonts/Aeonik/Aeonik_Mono/OTF/AeonikMono-Black.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
    font-display: block;
}