.footer-wrapper {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: fit-content;
    padding: 64px;
    padding-bottom: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 20px;
    color: #ffffff;
}

footer {
    border-radius: 10px;
    background: #ffffff;
    backdrop-filter: blur(20px);
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 16px 40px;
    box-sizing: border-box;
}

.footer-wrapper a {
    text-decoration: none;
    color: #ffffff;
    font-size: 15px;
    font-family: 'aeo-pro';
    font-weight: 400;
    margin: 0 14px;
}

.footer-wrapper a:hover {
    opacity: 0.8;
}

footer a {
    color: #333333 !important;
}

footer .icon {
    opacity: .8;
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

footer .social {
    display: flex;
    gap: 14px;
}

footer .social a {
    margin: 0;
}

.linkedin {
    background-image: url('data:image/svg+xml, <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M26.1718 3.98438H5.70125C4.72066 3.98438 3.92773 4.75853 3.92773 5.71566V26.2706C3.92773 27.2278 4.72066 28.0066 5.70125 28.0066H26.1718C27.1524 28.0066 27.95 27.2278 27.95 26.2753V5.71566C27.95 4.75853 27.1524 3.98438 26.1718 3.98438ZM11.0546 24.4549H7.48884V12.988H11.0546V24.4549ZM9.27174 11.4256C8.12693 11.4256 7.20264 10.5013 7.20264 9.36123C7.20264 8.22111 8.12693 7.29682 9.27174 7.29682C10.4119 7.29682 11.3362 8.22111 11.3362 9.36123C11.3362 10.4967 10.4119 11.4256 9.27174 11.4256ZM24.3982 24.4549H20.8371V18.881C20.8371 17.5532 20.8137 15.8407 18.9839 15.8407C17.1306 15.8407 16.8491 17.2904 16.8491 18.7871V24.4549H13.2927V12.988H16.7083V14.5551H16.7552C17.2291 13.6543 18.3927 12.7018 20.124 12.7018C23.732 12.7018 24.3982 15.0759 24.3982 18.1631V24.4549Z" fill="black"/></svg>');
}

.twitter {
    background-image: url('data:image/svg+xml, <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M22.9697 5.13281H26.6533L18.6058 14.3306L28.073 26.8467H20.6602L14.8543 19.2557L8.21094 26.8467H4.52515L13.1328 17.0086L4.05078 5.13281H11.6518L16.8998 12.0712L22.9697 5.13281ZM21.6769 24.6419H23.718L10.5427 7.2218H8.35236L21.6769 24.6419Z" fill="black"/></svg>');
}

.links-flex {
    align-items: center;
}

.links-flex p {
    margin: 0 6px;
}

.links-flex a {
    margin: 0 6px;
}

.links-flex a,
.links-flex p {
    font-size: 12px;
}

footer details {
    color: #333333 !important;
}

footer summary {
    position: relative;
    color: #333333 !important;
    opacity: 1;
    font-size: 28px;
    transform: rotate(90deg);
    display: flex;
    gap: 0;
}

.mobile-menu {
    position: absolute;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    bottom: 72px;
    right: 0;
    padding: 16px;
    border-radius: 10px;
    gap: 12px;
}

@media only screen and (max-width: 600px) {
    .footer-wrapper {
        padding: 20px;
    }

    footer {
        padding: 16px;
    }

    footer nav {
        display: none;
    }

    .links-flex a,
    .links-flex p {
        font-size: 2.5vw;
    }
}