@import url(style-font.css);

#wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

nav {
    cursor: default;
}

section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px 0;
    height: fit-content;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    isolation: isolate;
}

section {
    display: flex;
    align-items: center;
    gap: 14px;
    background-color: #ffffff;
    color: #333333;
}

section.no-min {
    min-height: 0;
}

#scrollSection {
    padding-top: 60px;
    min-height: unset;
}

section:first-of-type {
    top: -2vh;
    min-height: calc(95vh - 80px);
}

.anchor-link {
    position: absolute;
    top: -40px;
}

section.black {
    background-color: #191919;
    color: #ffffff;
    z-index: 1;
}

.bigger-title {
    font-size: 80px;
    text-wrap: unset;
}

#circles {
    width: 48vw;
}

h1 {
    letter-spacing: -1px;
    font-size: 64px;
    max-width: 1000px;
    text-wrap: balance;
    font-family: 'aeo-fono', sans-serif;
    font-weight: 400 !important;
    line-height: 1.1;
}

h2 {
    font-family: 'aeo-pro', sans-serif;
}

h6 {
    font-size: 16px;
    font-family: 'aeo-mono', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    color: #7E7E7E;
}

.white-text {
    color: #ffffff !important;
}

.video {
    width: 100vw;
    height: auto;
}

.star {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #ffffff;
    background-image: url(images/star.svg);
    background-repeat: no-repeat;
    background-size: 10%;
    background-position: center;
    mix-blend-mode: lighten;
    transition: all 1000ms linear 0s;
}

.content {
    position: relative;
    width: 80vw;
    padding: 0 10vw;
    padding-bottom: 300px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    min-height: 0;
    height: fit-content;
    max-height: 90vh;
    overflow: auto;
}

.mobile-only {
    display: none;
}

.desktop-only {
    display: flex;
}

#scrollAnim {
    padding-bottom: 0;
}

#scrollAnim+section {
    padding-top: 0;
}

#stickyScroll {
    background-image: url(images/scroll-image_01-min.png);
    background-repeat: no-repeat;
    background-position: 90% 0%;
    background-size: 50%;
    overflow: hidden !important;
    transition: background-image 500ms linear 0s;
}

h3 {
    font-size: 18px;
    font-family: 'aeo-pro', sans-serif;
    font-weight: 400;
    line-height: 1.3;
    text-align: left !important;
}

p {
    font-size: 18px;
    font-family: 'aeo-pro', sans-serif;
    font-weight: 400;
    line-height: 1.3;
}

.subtitle {
    font-size: 20px;
    color: #A0A0A0;
    width: 670px;
    text-align: center;
    margin: 12px 0;
    margin-bottom: 80px;
}

.less-margin {
    margin-bottom: 20px;
}

details>summary {
    opacity: 0.5;
    list-style: none;
    transition: opacity 300ms linear 0s;
}

details>summary::-webkit-details-marker {
    display: none;
}

details:open>summary {
    opacity: 1;
}

.collapse:open {
    pointer-events: none;
}

.collapse div {
    color: #929292;
    max-width: 420px;
    margin-top: 0;
    line-height: 1.2;
}

.collapse div div {
    margin-top: 12px;
}

.collapse div,
.collapse h3 {
    font-size: 22px;
}

.collapse h3 div {
    color: #ffffff;
}

.collapse summary {
    cursor: pointer;
}

.collapse {
    margin-left: 40px;
}

.collapse h3::before {
    content: '';
    position: absolute;
    width: 11px;
    height: 22px;
    background-image: url('data:image/svg+xml, <svg width="11" height="22" viewBox="0 0 11 22" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.2411 10.807L0 21.0225L3.79151 10.8113L0.0136179 0.54715L10.2411 10.807Z" fill="white"/></svg>');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transform: translateX(-40px);
}

h1,
h3,
h6 {
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    margin-bottom: -10px;
}

.center {
    text-align: center;
}

.all-caps {
    letter-spacing: -2px;
    line-height: 0.93;
    font-weight: 500 !important;
    text-transform: uppercase;
}

.all-caps.weight-400 {
    font-family: 'aeo-pro', sans-serif;
    font-weight: 400 !important;
    line-height: 1.1;
}

.full-width {
    max-width: 1400px;
    width: 90vw;
}

.left-align {
    text-align: left;
}

.bigger-p {
    font-size: 31px;
}

.bigger-h1 {
    font-size: 110px;
    line-height: 0.95;
}

.bigger-h2 {
    font-size: 54px;
    line-height: 1.2;
    font-weight: 400;
}

img.full-width {
    z-index: 2;
    width: calc(100vw - 60px) !important;
    max-width: calc(100vw - 60px) !important;
}

.px-185 .full-width {
    width: calc(100vw - 370px);
    max-width: calc(100vw - 370px);
}

.px-185-30 {
    box-sizing: border-box;
    padding-left: 185px;
    padding-right: 30px;
    width: 100vw;
    max-width: 100vw;
}

.first {
    min-height: 0 !important;
}

.sec {
    min-height: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 120px !important;
}

.mt-1 {
    margin-top: .5em;
}

.mt-2 {
    margin-top: 2.75em;
}

.move-beyond {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background: linear-gradient(0deg, #4D80E6 0%, #ffffff 100%);
    background-color: transparent;
    isolation: unset;
    min-height: 80vh;
    padding: 0 !important;
    padding-bottom: 250px !important;
    justify-content: center;
}

.move-beyond h1 {
    width: 100vw;
    max-width: 100vw;
    font-size: 82px;
    margin-bottom: 8px;
}

.move-beyond .subtitle {
    color: #333333;
}

button {
    border: none;
    outline: none;
    color: #555320;
    background-color: #FFFB68;
    padding: 14px 26px;
    border-radius: 14px;
    font-size: 16px;
    font-family: 'aeo-pro';
    font-weight: 500;
    cursor: pointer;
    opacity: 1;
    visibility: visible;
    transition: background-color 300ms linear 0s, color 300ms linear 0s, opacity 300ms linear 0s;
}

a {
    position: relative;
    cursor: pointer;
    transition: filter 200ms linear 0s;
}

button:hover {
    background-color: #3D3D3D;
    color: #FFFB68;
}

button:active {
    background-color: #333333;
    color: #FFFB68;
}

button:focus-visible {
    box-shadow: 0 0 0 3px #555320;
}

button:active {
    transform: scale(.99);
}

a:hover {
    filter: brightness(200%);
}

a:focus-visible {
    outline: none;
}

a:focus-visible::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: -8px;
    top: -8px;
    box-shadow: 0 0 0 3px #555320;
    border-radius: 12px;
    padding: 8px;
}

.tabs-wrapper {
    display: flex;
    gap: 10px;
    user-select: none;
}

.tab {
    font-family: 'aeo-fono', sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #ffffff;
    background-color: transparent;
    padding: 8px 10px;
    border-radius: 12px;
    border: 1px solid #474747;
}

.tab:hover {
    color: #ffffff;
    background-color: transparent;
    opacity: 0.8;
}

.no-margin {
    margin: 0;
}

section.black.no-min-mobile {
    padding: 0;
    min-height: unset;
}

.grid::after {
    content: '';
    position: absolute;
    width: 100vw;
    aspect-ratio: 1 / 1;
    bottom: -8vw;
    left: 0;
    background-image: url(images/grid-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    z-index: 1;
    mix-blend-mode: multiply;
}

.grid-image {
    width: 50%;
    height: auto;
}

/* .grid h6 {
    margin-top: 115px;
} */

.black h6 {
    color: #d9d9d9;
}

#runningText {
    min-height: unset;
    user-select: none;
    --spacing: 1.8ch;
}

#runningText h1 {
    color: #D1D1D1;
    position: relative;
}

#runningText .mask {
    position: absolute;
    height: 1.75ch;
    top: 0;
    left: 0;
    mix-blend-mode: color-burn;
    background-color: #333333;
}

#runningText #mask-2 {
    top: calc(var(--spacing) * 1);
}

#runningText #mask-3 {
    top: calc(var(--spacing) * 2);
}

#runningText #mask-4 {
    top: calc(var(--spacing) * 3);
}

#runningText #mask-5 {
    top: calc(var(--spacing) * 4);
}

#runningText #mask-6 {
    top: calc(var(--spacing) * 5);
}

#runningText #mask-7 {
    top: calc(var(--spacing) * 6);
}

#runningText #mask-8 {
    top: calc(var(--spacing) * 7);
}

#runningText #mask-9 {
    top: calc(var(--spacing) * 8);
}

#runningText #mask-10 {
    top: calc(var(--spacing) * 9);
}

#runningText #mask-11 {
    top: calc(var(--spacing) * 10);
}

#runningText #mask-12 {
    top: calc(var(--spacing) * 11);
}

#tabImage,
#tabImageMobile {
    width: 50vw;
    max-width: 1000px;
    height: auto;
}

#tabImageMobile {
    display: none;
}

.subtitle.tab-p {
    font-size: 16px;
    margin-top: -12px;
}

.tab.active {
    color: #FF9900;
    pointer-events: none;
    border-color: transparent;
    background: linear-gradient(#131219, #131219) padding-box, linear-gradient(var(--angle),
            #FFF,
            #F90,
            #995C00) border-box;
    animation: 3s rotate linear infinite;
}

.flex {
    display: flex;
    position: relative;
}

.column {
    flex-direction: column;
    gap: 16px;
}

.wrap {
    flex-wrap: wrap;
}

.flex.wrap .flex:has(input[type="checkbox"]) {
    width: 27%;
    white-space: pre;
    gap: 8px;
    align-items: center;
}

.flex.wrap:has(input[type="checkbox"]) {
    gap: 20px;
}

.textInput {
    padding: 16px;
    border-radius: 8px;
    border: 1px solid #E2E8F0;
    font-weight: 400;
    font-family: 'aeo-pro', sans-serif;
    color: #333333;
    outline-offset: 0;
    transition: outline-offset 150ms ease-in-out 0s;
}

.textInput::placeholder {
    color: #64748B;
}

.textInput:focus {
    outline-offset: 2px;
    outline: 2px solid #131219;
}

.textInput+p {
    display: none;
    color: red;
    font-size: 14px;
    margin-top: -14px !important;
}

.textInput.error {
    border-color: red;
}

.textInput.error+p {
    display: block;
}

.flock {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    aspect-ratio: 16 / 9;
    z-index: -1;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    max-width: 100vw;
    width: 700px;
    max-width: 70vw;
    transform: translate(-50%, -50%);
    border-radius: 24px;
    display: flex;
    padding: 48px;
    flex-direction: column;
    gap: 24px;
    max-height: calc(100vh - 24px);
    background-color: white;
    color: #333333;
    isolation: isolate;
    z-index: 100;
    accent-color: #020617;
    box-shadow: 0 0 0 8000px #828282a6;
    animation: fadeIn 150ms ease-in-out;
}

.popup form {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.popup.hide {
    animation-name: fadeOut;
}

.popup.loaded {
    animation-delay: -200ms;
}

.popup h1 {
    font-size: 44px;
    text-wrap: normal;
}

.popup h4 {
    font-size: 14px;
    margin: 0;
    font-weight: 600;
    font-family: 'aeo-pro', sans-serif;
}

.popup p {
    margin: 0;
}

.footnote {
    font-size: 12px;
    font-weight: 400;
    font-family: 'aeo-pro', sans-serif;
}

.footnote a {
    color: #333333;
}

.no-click {
    overflow: hidden;
}

.no-click h1,
.no-click p {
    pointer-events: none;
}

button.no-click {
    pointer-events: none;
}

#spinner {
    display: none;
    width: 16px;
    height: 16px;
}

div:has(button.no-click)+#spinner {
    display: block;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translate(-50%, -30%) scale(0.9);
    }

    100% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }

    100% {
        opacity: 0;
        transform: translate(-50%, -30%) scale(0.9);
    }
}

.close-button {
    position: absolute;
    top: calc(50% + 32px);
    right: calc(50% + 32px);
    transform: translate(50vw, -50vh);
    width: 60px;
    height: 60px;
    border-radius: 100px;
    background: #171717;
    background-image: url('data:image/svg+xml, <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">  <path fill-rule="evenodd" clip-rule="evenodd" d="M6.96976 6.9678C7.37474 6.56282 8.03136 6.56282 8.43635 6.9678L15.9993 14.5308L23.5624 6.9678C23.9673 6.56282 24.624 6.56282 25.0289 6.9678C25.4339 7.37279 25.4339 8.02941 25.0289 8.4344L17.4659 15.9974L25.0289 23.5604C25.4339 23.9654 25.4339 24.622 25.0289 25.027C24.624 25.432 23.9673 25.432 23.5624 25.027L15.9993 17.464L8.43635 25.027C8.03136 25.432 7.37474 25.432 6.96976 25.027C6.56477 24.622 6.56477 23.9654 6.96976 23.5604L14.5328 15.9974L6.96976 8.4344C6.56477 8.02941 6.56477 7.37279 6.96976 6.9678Z" fill="white"/></svg>');
    background-repeat: no-repeat;
    background-position: center;
}

.close-button:hover {
    transform: translate(50vw, -50vh);
}

.hide {
    opacity: 0;
    pointer-events: none;
}

.mobile-image {
    width: 100%;
    height: auto;
    display: none;
}

body #wrapper {
    pointer-events: none;
}

body:has(.popup.hide) #wrapper {
    pointer-events: all;
}

#formFooter {
    display: none;
    align-items: center;
    gap: 4px;
}

.cards-wrapper {
    width: 100% !important;
    max-width: 100% !important;
    gap: 132px
}

.cards {
    --cardWidth: 23.15vw;
    display: flex;
    gap: 16px;
    row-gap: 90px;
    flex-wrap: wrap;
}

.person-card {
    width: var(--cardWidth);
    z-index: 2;
}

.person-card img {
    margin-bottom: 22px;
    width: var(--cardWidth);
    height: var(--cardWidth);
    border-radius: 8px;
}

.person-card p {
    margin: 0;
    margin-left: 27px;
}

.person-card p:last-of-type {
    color: #7E7E7E;
}

.v-center {
    align-items: center;
}

.cardtitle {
    position: absolute;
    transition: opacity 300ms linear 0s;
}

.headtitle {
    height: fit-content;
    max-width: 50vw;
}

.headimage {
    width: 300px;
    height: 300px;
    transform: translateX(-50px);
}

.cardtitle {
    justify-content: space-between;
}

#headnum {
    font-size: 42px;
    text-align: center;
    margin-top: 320px;
    color: #333333;
    font-family: 'aeo-pro', sans-serif;
}

#headnum span {
    color: #7E7E7E;
}

@keyframes rotate {
    to {
        --angle: 360deg;
    }
}

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

@media only screen and (max-width: 600px) {
    section {
        padding: 100px 0;
    }

    .move-beyond {
        padding-top: 100px !important;
        padding-bottom: 200px !important;
        min-height: 50vh;
        background-position: top center;
        border-top: 10px solid #ffffff;
    }

    h1 {
        font-size: 32px;
        max-width: 80vw;
    }

    .subtitle {
        font-size: 18px;
        max-width: 80vw;
    }

    .content {
        gap: 16px;
        height: fit-content;
        max-height: unset;
        overflow: hidden;
        padding-bottom: 0 !important;
    }

    .collapse {
        position: relative;
        top: 0 !important;
        padding-bottom: 0 !important;
    }

    button {
        font-size: 14px;
    }

    .grid::after {
        aspect-ratio: 1 / 2;
        bottom: 0;
    }

    .grid h6 {
        margin-top: 0;
    }

    .grid .flex {
        flex-direction: column;
    }

    .grid-image {
        width: 100%;
    }

    .bigger-p {
        font-size: 18px;
        max-width: 80vw;
    }

    .move-beyond h1 {
        font-size: 40px;
    }

    img.full-width {
        width: calc(100vw - 40px) !important;
        max-width: calc(100vw - 40px) !important;
    }

    .px-185-30 {
        padding: 20px;
        width: calc(100vw - 40px);
        max-width: calc(100vw - 40px);
    }

    .px-185 .full-width {
        width: 100%;
        max-width: 100%;
    }

    .px-185 {
        padding: 20px;
        width: 100vw;
        max-width: 100vw;
    }

    .px-185 h1.full-width {
        padding: 0;
        font-size: 50px;
    }

    #circles {
        transform: translateX(20px);
        width: calc(100vw - 40px);
    }

    .bigger-h2 {
        font-size: 30px;
    }

    .popup {
        width: 100%;
        max-width: unset;
        height: 100%;
        max-height: unset;
        transform: none;
        top: 0;
        left: 0;
        margin: 0;
        box-sizing: border-box;
        border-radius: 0;
        padding: 24px;
        overflow: auto;
    }

    .close-button {
        top: 0;
        right: 0;
        transform: scale(0.75);
        filter: invert(100%);
        background-color: transparent;
    }

    .close-button:hover {
        filter: invert(100%);
        transform: scale(0.75);
    }

    .popup h1 {
        font-size: 28px;
    }

    .popup h1 br {
        display: none;
    }

    .popup p {
        font-size: 14px;
    }

    .popup h4,
    .flex.wrap .flex:has(input[type="checkbox"]) {
        font-size: 12px;
        width: unset
    }

    #tabImage {
        display: none;
    }

    #tabImageMobile {
        display: block;
    }

    .flock {
        height: 100%;
        width: auto;
    }

    .no-min-mobile {
        min-height: unset;
    }

    #useCases {
        width: 100vw;
        height: auto;
    }

    .no-click h1,
    .no-click p {
        pointer-events: all;
    }

    #stickyScroll {
        background-image: none !important;
    }

    .mobile-image {
        display: block;
    }

    .mobile-only {
        display: flex;
    }

    .desktop-only {
        display: none;
    }

    #starDiv {
        display: none;
    }

    .cards-wrapper {
        gap: 24px
    }

    .cards {
        --cardWidth: 90vw;
        flex-direction: column;
        flex-wrap: nowrap;
        row-gap: 40px;
    }

    .bigger-h1 {
        font-size: 40px;
        line-height: 0.95;
    }

    .cardtitle {
        opacity: 1 !important;
        position: relative;
        flex-direction: column-reverse;
        align-items: flex-start;
        width: 100% !important;
        max-width: unset !important;
        padding: 0 !important;
    }

    .headimage {
        width: 80px;
        height: 80px;
        transform: unset;
    }

    .headtitle {
        max-width: unset;
        width: 100%;
        font-size: 26px;
    }

    #headnum {
        display: none;
    }

    @keyframes fadeIn {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    @keyframes fadeOut {
        0% {
            opacity: 1;
        }

        100% {
            opacity: 0;
        }
    }
}