@import url(font-aeo-pro.css);
@import url(font-aeo-mono.css);

body, h1, p {
  font-family: sans-serif;
}

.aeo-pro {
  font-family: 'aeo-pro', sans-serif;
}

.aeo-mono {
  font-family: 'aeo-mono', sans-serif;
}

.aeo-fono {
  font-family: 'aeo-fono', sans-serif;
}

.weight-100 {
  font-weight: 100;
}

.weight-200 {
  font-weight: 200;
}

.weight-300 {
  font-weight: 300;
}

.weight-400 {
  font-weight: 400;
}

.weight-500 {
  font-weight: 500;
}

.weight-600 {
  font-weight: 600;
}

.weight-700 {
  font-weight: 700;
}

.weight-800 {
  font-weight: 800;
}