@import url(style-font.css);

#wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px 0;
    height: fit-content;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

section:nth-of-type(2n) {
    background-color: #eeeeee;
}

section {
    display: flex;
    align-items: center;
    gap: 14px;
    background-color: #ffffff;
    color: #333333;
}

.anchor-link {
    position: absolute;
    top: -100px;
}

canvas {
    max-width: 100vw;
}

section.black {
    background-color: #191919;
    color: #ffffff;
}

h1 {
    font-size: 64px;
    max-width: 1000px;
    text-wrap: balance;
    font-family: 'aeo-fono', sans-serif;
    font-weight: 400;
}

h6 {
    font-size: 12px;
    font-family: 'aeo-mono', sans-serif;
    font-weight: 500;
}

.content {
    position: relative;
    width: 80vw;
    padding: 0 10vw;
    display: flex;
    flex-direction: column;
    gap: 100vh;
    min-height: 0;
    height: fit-content;
    max-height: 100vh;
    /* background-color: rebeccapurple; */
    overflow: auto;
}

h3 {
    font-size: 18px;
    font-family: 'aeo-pro', sans-serif;
    font-weight: 400;
    line-height: 1.3;
    text-align: left !important;
}

p {
    font-size: 18px;
    font-family: 'aeo-pro', sans-serif;
    font-weight: 400;
    line-height: 1.3;
}

.subtitle {
    font-size: 22px;
    color: #A0A0A0;
    width: 670px;
    text-align: center;
}

.collapse p {
    color: #929292;
    max-width: 405px;
}

.collapse {
    position: sticky;
    top: 0;
    margin-left: 40px;
}

.collapse:nth-of-type(2) {
    top: 150px;
}

.collapse:nth-of-type(3) {
    top: 275px;
}

.collapse:nth-of-type(4) {
    top: 350px;
    padding-bottom: calc(100vh - 500px);
}

.collapse h3::before {
    content: '';
    position: absolute;
    width: 11px;
    height: 22px;
    background-image: url('data:image/svg+xml, <svg width="11" height="22" viewBox="0 0 11 22" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.2411 10.807L0 21.0225L3.79151 10.8113L0.0136179 0.54715L10.2411 10.807Z" fill="white"/></svg>');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transform: translateX(-40px);
}

h1,
h3,
h6 {
    margin: 0;
    padding: 0;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    section {
        padding: 100px 0;
    }
}